[Unit]
Description=OpenDMARC

[Service]
Type=simple
ExecStart=/usr/sbin/opendmarc -f -l -c /etc/opendmarc/opendmarc.conf
Restart=always

[Install]
WantedBy=multi-user.target
